<h1>120 Years of Olympic History (1896-2016)</h1>

Data source: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

The dataset contains information on Olympic athletes from the years 1896 to 2016. Such information includes their name, sex, age, height, weight, the Olympic Game, sport and event they participated in, and the medal they won.

This is a data cleaning project. I will clean it by removing extra whitespaces, duplicate rows, fix spelling errrors, removing unneeded columns, and imputing missing values.

NOTE: I first used Excel's spell check function to check for any spelling errors in the data.

In [1]:
# Load in some libraries (numpy might not be used)
import pandas as pd
import numpy as np

In [2]:
# Load in the dataset
data = pd.read_csv('athlete_events.csv')

# Output of the first five rows of data
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

There are some missing values in the Height, Weight, and Medal columns which needs to be dealt with. The ID and Name columns do not seem to be useful, so they can be removed.

In [3]:
# Look for duplicate rows
data[data.duplicated()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1252,704,Dsir Antoine Acket,M,27.0,NaN,NaN,Belgium,BEL,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
4282,2449,William Truman Aldrich,M,48.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN
4283,2449,William Truman Aldrich,M,48.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN
4862,2777,Hermann Reinhard Alker,M,43.0,NaN,NaN,Germany,GER,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Designs F...",NaN
4864,2777,Hermann Reinhard Alker,M,43.0,NaN,NaN,Germany,GER,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Architect...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269994,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN
269995,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN
269997,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
269999,135073,Doris Clare Zinkeisen (-Johnstone),F,49.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
270200,135173,Henri Achille Zo,M,58.0,NaN,NaN,France,FRA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN

Assumes that a person participating in the same event more than once in the same year is an error.

In [4]:
# Remove duplicate rows 
data.drop_duplicates(inplace=True)

In [5]:
# Drop ID and Name columns
data.drop(['ID', 'Name'], axis=1, inplace=True)

In [6]:
# Before dealing with the missing values, get the descriptive statistics of the dataset to see if there are any abnormal values
data.describe()

                 Age         Height         Weight           Year
count  260416.000000  210917.000000  208204.000000  269731.000000
mean       25.454776     175.338953      70.701778    1978.623073
std         6.163869      10.518507      14.349027      29.752055
min        10.000000     127.000000      25.000000    1896.000000
25%        21.000000     168.000000      60.000000    1960.000000
50%        24.000000     175.000000      70.000000    1988.000000
75%        28.000000     183.000000      79.000000    2002.000000
max        97.000000     226.000000     214.000000    2016.000000

No abnormal values were found. The min and max age might seem weird, but research tells me that minors as young as 10 were allowed to participate in the 1896 Olympic games, and that art competitions were part of the Olympics in 1912-1948, accounting for the 97-year-old Olympic athlete.

In [7]:
# Check for missing values and for the data type of each column
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269731 entries, 0 to 271115
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sex     269731 non-null  object
 1   Age     260416 non-null  float64
 2   Height  210917 non-null  float64
 3   Weight  208204 non-null  float64
 4   Team    269731 non-null  object
 5   NOC     269731 non-null  object
 6   Games   269731 non-null  object
 7   Year    269731 non-null  int64
 8   Season  269731 non-null  object
 9   City    269731 non-null  object
 10  Sport   269731 non-null  object
 11  Event   269731 non-null  object
 12  Medal   39772 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 28.8+ MB

In [8]:
# Remove extra whitespaces
data.replace("  ", " ", inplace=True)
col= ['Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event', 'Medal']
for c in col:
    data[c] = data[c].str.strip()

In [9]:
# Replace missing values in the Medal column with '-'
data['Medal'].fillna('-', inplace=True)

In [10]:
# Find the skewness of Age for each Event
skewness = data.groupby('Event')['Age'].skew().to_frame('Age Skewness')
skewness.reset_index(inplace=True)
# Add the skewness of Age for each Event into our dataset
data = pd.merge(data, skewness, how='left', on='Event')

# Find the skewness of Height for each Event (since height and weight are correlated I'll assume the skewness for weight is about the same as height)
skewness2 = data.groupby('Event')['Height'].skew().to_frame('Height Skewness')
skewness2.reset_index(inplace=True)
# Add the skewness of Height for each Event into our dataset
data = pd.merge(data, skewness2, how='left', on='Event')

# Fill missing Age values with the median if it is skewed and with the mean if it is unskewed
data['Age'] = data['Age'].fillna(data.loc[abs(data['Age Skewness']) > 0.5].groupby('Event')['Age'].transform('median'))
data['Age'] = data['Age'].fillna(data.loc[abs(data['Age Skewness']) <= 0.5].groupby('Event')['Age'].transform('mean'))

# Fill missing Height and Weight values with the median if Height is skewed and with the mean if it is unskewed
data['Height'] = data['Height'].fillna(data.loc[abs(data['Height Skewness']) > 0.5].groupby('Event')['Height'].transform('median'))
data['Height'] = data['Height'].fillna(data.loc[abs(data['Height Skewness']) <= 0.5].groupby('Event')['Height'].transform('mean'))
data['Weight'] = data['Weight'].fillna(data.loc[abs(data['Height Skewness']) > 0.5].groupby('Event')['Weight'].transform('median'))
data['Weight'] = data['Weight'].fillna(data.loc[abs(data['Height Skewness']) <= 0.5].groupby('Event')['Weight'].transform('mean'))

# Another check for missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269731 entries, 0 to 269730
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Sex              269731 non-null  object
 1   Age              269573 non-null  float64
 2   Height           265586 non-null  float64
 3   Weight           263563 non-null  float64
 4   Team             269731 non-null  object
 5   NOC              269731 non-null  object
 6   Games            269731 non-null  object
 7   Year             269731 non-null  int64
 8   Season           269731 non-null  object
 9   City             269731 non-null  object
 10  Sport            269731 non-null  object
 11  Event            269731 non-null  object
 12  Medal            269731 non-null  object
 13  Age Skewness     269547 non-null  float64
 14  Height Skewness  265474 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 32.9+ MB

In [11]:
# Drop the skewness columns
data.drop(['Age Skewness', 'Height Skewness'],axis=1,inplace=True)

In [12]:
# Find the skewness of Age for each Sport
skewness = data.groupby('Sport')['Age'].skew().to_frame('Age Skewness')
skewness.reset_index(inplace=True)
# Add the skewness of Age for each Event into our dataset
data = pd.merge(data, skewness, how='left', on='Sport')

# Find the skewness of Height for each Sport (since height and weight are correlated I'll assume the skewness for weight is about the same as height)
skewness2 = data.groupby('Sport')['Height'].skew().to_frame('Height Skewness')
skewness2.reset_index(inplace=True)
# Add the skewness of Height for each Event into our dataset
data = pd.merge(data, skewness2, how='left', on='Sport')

# Fill missing Age values with the median if it is skewed and with the mean if it is unskewed
data['Age'] = data['Age'].fillna(data.loc[abs(data['Age Skewness']) > 0.5].groupby('Sport')['Age'].transform('median'))
data['Age'] = data['Age'].fillna(data.loc[abs(data['Age Skewness']) <= 0.5].groupby('Sport')['Age'].transform('mean'))

# Fill missing Height and Weight values with the median if Height is skewed and with the mean if it is unskewed
data['Height'] = data['Height'].fillna(data.loc[abs(data['Height Skewness']) > 0.5].groupby('Sport')['Height'].transform('median'))
data['Height'] = data['Height'].fillna(data.loc[abs(data['Height Skewness']) <= 0.5].groupby('Sport')['Height'].transform('mean'))
data['Weight'] = data['Weight'].fillna(data.loc[abs(data['Height Skewness']) > 0.5].groupby('Sport')['Weight'].transform('median'))
data['Weight'] = data['Weight'].fillna(data.loc[abs(data['Height Skewness']) <= 0.5].groupby('Sport')['Weight'].transform('mean'))

# Another check for missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269731 entries, 0 to 269730
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Sex              269731 non-null  object
 1   Age              269731 non-null  float64
 2   Height           269539 non-null  float64
 3   Weight           269445 non-null  float64
 4   Team             269731 non-null  object
 5   NOC              269731 non-null  object
 6   Games            269731 non-null  object
 7   Year             269731 non-null  int64
 8   Season           269731 non-null  object
 9   City             269731 non-null  object
 10  Sport            269731 non-null  object
 11  Event            269731 non-null  object
 12  Medal            269731 non-null  object
 13  Age Skewness     269728 non-null  float64
 14  Height Skewness  269532 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 32.9+ MB

In [13]:
# Drop the skewness columns
data.drop(['Age Skewness', 'Height Skewness'], axis=1, inplace=True)

In [14]:
# Find the skewness of Height for each Olympics Season (since height and weight are correlated I'll assume the skewness for weight is about the same as height)
skewness = data.groupby('Season')['Height'].skew().to_frame('Height Skewness')
skewness.reset_index(inplace=True)
# Add the skewness of Height for each Event into our dataset
data = pd.merge(data, skewness, how='left', on='Season')

# Fill missing Height and Weight values with the median if Height is skewed and with the mean if it is unskewed
data['Height'] = data['Height'].fillna(data.loc[abs(data['Height Skewness']) > 0.5].groupby('Season')['Height'].transform('median'))
data['Height'] = data['Height'].fillna(data.loc[abs(data['Height Skewness']) <= 0.5].groupby('Season')['Height'].transform('mean'))
data['Weight'] = data['Weight'].fillna(data.loc[abs(data['Height Skewness']) > 0.5].groupby('Season')['Weight'].transform('median'))
data['Weight'] = data['Weight'].fillna(data.loc[abs(data['Height Skewness']) <= 0.5].groupby('Season')['Weight'].transform('mean'))

# Another check for missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269731 entries, 0 to 269730
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Sex              269731 non-null  object
 1   Age              269731 non-null  float64
 2   Height           269731 non-null  float64
 3   Weight           269731 non-null  float64
 4   Team             269731 non-null  object
 5   NOC              269731 non-null  object
 6   Games            269731 non-null  object
 7   Year             269731 non-null  int64
 8   Season           269731 non-null  object
 9   City             269731 non-null  object
 10  Sport            269731 non-null  object
 11  Event            269731 non-null  object
 12  Medal            269731 non-null  object
 13  Height Skewness  269731 non-null  float64
dtypes: float64(4), int64(1), object(9)
memory usage: 30.9+ MB

Finally, all the missing values are removed. On a side note, there turned out to be some redundant code, so if I were to redo this project, I would write a function to shorten the code.

In [15]:
# Drop the skewness columns
data.drop('Height Skewness', axis=1, inplace=True)

In [16]:
# Split the data into Winter Olympics and Summer Olympics
summer_olympics = data.loc[data['Season'] == 'Summer']
winter_olympics = data.loc[data['Season'] == 'Winter']

In [17]:
# First five rows of the cleaned dataset (summer)
summer_olympics.head()

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,M,24.0,180.000000,80.000000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,-
1,M,23.0,170.000000,60.000000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,-
2,M,24.0,177.480339,73.086644,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,-
3,M,34.0,182.480000,95.615385,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,F,18.0,168.000000,57.485390,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,-

In [18]:
# First five rows of the cleaned dataset (winter)
winter_olympics.head()

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,-
5,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",-
6,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,-
7,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",-
8,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,-

Now the the dataset is ready for exploring!